.cards-div {
	display: flex;
	justify-content: center;
}
article {
	display: inline-block;
	margin: 1em;
	border: 5px solid black;
	max-width: 25%;
	text-align: center;
}

article:nth-child(even) {
	background-color: lightgrey;
}

article:nth-child(odd) {
	background-color: darkgrey;
}

.active {
	border: 5px dotted white;
}

.pic {
	max-width: 50%;
	max-height: 50%;

}